@import "./header.scss";
@import "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $blue-gray;
}

// Hide Scrollbar
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p {
  line-height: 1.4em;
}

a,
a:visited {
  color: #37474f;
}

img {
  max-width: 100%;
}

main {
  padding: 1em;
  padding-top: 4em;
  max-width: 1200px;
  margin: 0 auto;
}

.all_books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1em;
}

.read_btn {
  padding: 5px;
  display: inline-block;
  font-weight: 600;
}

.book_item {
  display: grid;
  grid-template-columns: minmax(140px, 30%) 1fr;
  grid-gap: 1em;
  padding: 1em;
  cursor: pointer;
  border-radius: 10px;
  border: 0.5px solid lightgray;
  height: 260px;
  transition: all ease-in-out 0.5s;
  &_cover {
    overflow: hidden;
    padding: 5px;
    overflow: hidden;
    height: 100%;
  }
  &_title {
    font-size: 18px;
  }
  &_details {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
  }
  &:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.book_details {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 3fr;
  grid-gap: 1em;
  .details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    button {
      display: inline-block;
      padding: 5px 1em;
      max-width: 200px;
    }
  }
}

.completed_list {
  display: grid;
  grid-template-columns: minmax(350px, 1fr) minmax(350px, 1fr) minmax(
      350px,
      1fr
    );
  grid-gap: 1em;
  &_title {
    text-align: center;
    padding-bottom: 1em;
  }
}
.reading_list {
  display: grid;
  grid-template-columns: minmax(350px, 1fr) minmax(350px, 1fr) minmax(
      350px,
      1fr
    );
  grid-gap: 1em;
  &_title {
    text-align: center;
    padding-bottom: 1em;
  }
}

.add_btn {
  background-color: $warm-green;
  border: 1px solid $warm-green;
  color: #fff;
}
.done_btn {
  background-color: $warm-blue;
  border: 1px solid $warm-blue;
  color: #fff;
}
.remove_btn {
  margin-left: 1em;
  background-color: $warm-red;
  color: #fff;
  border: 1px solid $warm-red;
}

// Dashboard Style
.dashboard {
  text-align: center;
  p {
    font-size: 1.2em;
  }
}

.done_book {
  color: $warm-blue;
}

.read_book {
  color: $warm-green;
}

.warning {
  color: $warm-red;
  margin-top: 1em;
}

.logout_btn {
  padding: 5px 1em;
  border: 1px solid $warm-red;
  background-color: $warm-red;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 1em;
}

.about_info {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 5em;
  border: 2px solid $warm-green;
  padding: 1em;
}

footer {
  text-align: center;
  padding-bottom: 1em;
}
